<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BLOG EDWIN</title>
</head>
<body>
        <header>
            <div>
                <center><h1>El blog de Edwin :3 </h1></center>
            </div>
        </header>
            {% for post in posts %}
                <div>
                    <p>published:{{post.published_date}}</p>
                    <h2><a href="#">{{post.title}}</a></h2>
                    <p>{{post.text|linebreaks}}</p>

                </div>
                
            {% endfor %}

</body>
</html>
